<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#controls" role="button" aria-expanded="false" aria-controls="collapseExample">
          Controls
        </a>
      </div>
    </div>

    <div class="row collapse" id="controls">
      <div class="col-4">
        Movement:
        <ul>
          <li>
            Numeric keypad
          </li>
          <li>
            VI keys
          </li>
          <li>
            <code><pre class="mb-0">
Q W E
A   D
Z S X
            </pre></code>
          </li>
          <li>
            <code>`</code> Stop automove
          </li>
        </ul>
      </div>
      <div class="col-4">
        Interaction:
        <ul>
          <li>
            <code>Shift 0-9</code> Use the given hotkey
          </li>
          <li>
            <code>f</code> Default ranged attack
          </li>
          <li>
            <code>,</code> Pick up item(s)
          </li>
          <li>
            <code>.</code> Skip turn
          </li>
          <li>
            <code>;</code> Look at a tile
          </li>
        </ul>
      </div>
      <div class="col-4">
        Screens:
        <ul>
          <li>
            <code>i</code> Inventory
          </li>
          <li>
            <code>c</code> Character
          </li>
          <li>
            <code>t</code> Abilities
          </li>
          <li>
            <code>Escape</code> Return to title
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Controls"
}
</script>

<style scoped>

</style>