<template>
  <div>
    Playing version {{semver}}-{{build}}{{gitinfo}}
    <div v-html="disclaimer"></div>
  </div>
</template>

<script>
export default {
  name: "Version",
  props: {
    semver: {required: true, type: String},
    build: {default: import.meta.env.MODE, type: String},
    git_hash: {default: __GIT_COMMIT_SHA__, type: String},    // git hash of latest commit
    branch: {default: __GIT_BRANCH__, type: String},  // current branch
  },
  computed: {
    gitinfo() {
      if(!this.build || this.build === 'unknown' || this.build === 'stable') return '';
      if(import.meta.env.PROD) return '';
      let hash = this.git_hash.substring(0, 6);
      let branch = this.branch;
      return `-${branch}-${hash}`;
    },
    disclaimer() {
      if(this.build === 'development') {
        return '<div>Thanks for contributing!</div>';
      } else if(this.build === 'production') {
        return `
<div>
    <a href="https://gitlab.com/rostrander/tyranny-of-the-onslaught">GitLab page</a>
</div>`
      } else {
        return `<h1>Unknown build ${this.build}!</h1>`;
      }

    }
  }
}
</script>

<style scoped>

</style>